@tailwind base;
@tailwind components;
@tailwind utilities;

.mySize{
    opacity: 0.2;
    height: 200px;
}

.footer-wrap{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#Layer_1{
    max-height: 75px;
}

.heading{
    color: white;
    text-transform: none;
    margin-bottom: 200px;
}

.home-wrap{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
        align-items: center;
}

h1{
    font-size: 42px;
}

.avatar{
    margin-right: 20px;
}

img{
    margin-right: 20px;
}

.user-card{
   background-color: #966fb3;
}

.show{
   
    padding: 20px;
}


.show3{

    padding-left: 10px;
    padding-right: 10px
}

